.logoPannel{
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 10px;
}

.topPannel{
    background: grey;
    height: 40px;
    display: flex;
}

.appBody{
    margin: 1px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.8491771708683473) 50%, rgba(252,176,69,0.908000700280112) 100%);
    border-radius: 50px;
    padding: 32px;
    margin-top: 5px;
}